<launch>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find rm_description)/launch/sentry.launch">
    <arg name="load_chassis" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="roller_type" value="realistic"/>
  </include>


  <rosparam file="$(find sentry_chassis_controller)/config/controllers.yaml" command="load"/>
  <rosparam file="$(find sentry_chassis_controller)/config/chassis_params.yaml" command="load"/>

  
  <node name="controller_manager_spawner" 
        pkg="controller_manager" 
        type="spawner" 
        respawn="false"
        output="screen"
        args="sentry_chassis_controller/joint_state_controller 
              sentry_chassis_controller/sentry_chassis_plugin"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="keyboard_teleop" 
        pkg="sentry_chassis_controller" 
        type="keyboard_teleop" 
        output="screen" 
        launch-prefix="xterm -e"
  />

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>
  
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" 
        args="/debug/lf_wheel/target/data /debug/lf_wheel/actual/data" 
        output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sentry_chassis_controller)/config/default.rviz" output="screen"/>

   <node name="plotjuggler" 
        pkg="plotjuggler" 
        type="plotjuggler" 
        output="screen"
   >  
  </node>
</launch>
