PACKAGE = "sentry_chassis_controller"
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()


# 舵机 PID (位置环)
gen.add("lf_steer_p", double_t, 0, "LF Steer P", 10.0, 0.0, 20.0)
gen.add("lf_steer_i", double_t, 0, "LF Steer I", 0.1,   0.0, 5.0)
gen.add("lf_steer_d", double_t, 0, "LF Steer D", 0.1,   0.0, 2.0)

gen.add("rf_steer_p", double_t, 0, "RF Steer P", 10.0, 0.0, 20.0)
gen.add("rf_steer_i", double_t, 0, "RF Steer I", 0.1,   0.0, 5.0)
gen.add("rf_steer_d", double_t, 0, "RF Steer D", 0.1,   0.0, 2.0)

gen.add("lb_steer_p", double_t, 0, "LB Steer P", 10.0, 0.0, 20.0)
gen.add("lb_steer_i", double_t, 0, "LB Steer I", 0.1,   0.0, 5.0)
gen.add("lb_steer_d", double_t, 0, "LB Steer D", 0.1,   0.0, 2.0)

gen.add("rb_steer_p", double_t, 0, "RB Steer P", 10.0, 0.0, 20.0)
gen.add("rb_steer_i", double_t, 0, "RB Steer I", 0.1,   0.0, 5.0)
gen.add("rb_steer_d", double_t, 0, "RB Steer D", 0.1,   0.0, 2.0)

# 轮速 PID 
gen.add("lf_wheel_p", double_t, 0, "LF Wheel P", 5.0, 0.0, 20.0)
gen.add("lf_wheel_i", double_t, 0, "LF Wheel I", 0.1, 0.0, 10.0)
gen.add("lf_wheel_d", double_t, 0, "LF Wheel D", 0.0,  0.0, 5.0)
gen.add("lf_wheel_max", double_t, 0, "LF Max Torque", 2.0, 0.0, 10.0)

gen.add("rf_wheel_p", double_t, 0, "RF Wheel P", 5.0, 0.0, 20.0)
gen.add("rf_wheel_i", double_t, 0, "RF Wheel I", 0.1, 0.0, 10.0)
gen.add("rf_wheel_d", double_t, 0, "RF Wheel D", 0.0,  0.0, 5.0)
gen.add("rf_wheel_max", double_t, 0, "RF Max Torque", 2.0, 0.0, 10.0)

gen.add("lb_wheel_p", double_t, 0, "LB Wheel P", 5.0, 0.0, 20.0)
gen.add("lb_wheel_i", double_t, 0, "LB Wheel I", 0.1, 0.0, 10.0)
gen.add("lb_wheel_d", double_t, 0, "LB Wheel D", 0.0,  0.0, 5.0)
gen.add("lb_wheel_max", double_t, 0, "LB Max Torque", 2.0, 0.0, 10.0)

gen.add("rb_wheel_p", double_t, 0, "RB Wheel P", 5.0, 0.0, 20.0)
gen.add("rb_wheel_i", double_t, 0, "RB Wheel I", 0.1, 0.0, 10.0)
gen.add("rb_wheel_d", double_t, 0, "RB Wheel D", 0.0,  0.0, 5.0)
gen.add("rb_wheel_max", double_t, 0, "RB Max Torque", 2.0, 0.0, 10.0)

gen.add("yaw_p", double_t, 0, "Yaw Correction P", 2.0, 0.0, 20.0)
gen.add("yaw_i", double_t, 0, "Yaw Correction I", 0.0, 0.0, 5.0)
gen.add("yaw_d", double_t, 0, "Yaw Correction D", 0.1, 0.0, 5.0)

gen.add("sync_kp", double_t, 0, "Wheel Sync Kp (Cross-Coupling)", 5.0, 0.0, 20.0)

# URDF参数
gen.add("wheel_track", double_t, 0, "Wheel Track", 0.362, 0.1, 1.0)
gen.add("wheel_base",  double_t, 0, "Wheel Base", 0.362, 0.1, 1.0)
gen.add("offset_lf", double_t, 0, "Offset LF", 0.0, -3.14, 3.14)
gen.add("offset_rf", double_t, 0, "Offset RF", 0.0, -3.14, 3.14)
gen.add("offset_lb", double_t, 0, "Offset LB", 0.0, -3.14, 3.14)
gen.add("offset_rb", double_t, 0, "Offset RB", 0.0, -3.14, 3.14)

# 模式与加速度 
gen.add("spin_vw", double_t, 0, "Spin Speed", 5.0, 0.0, 20.0)
gen.add("use_world_frame", bool_t, 0, "World Frame", False)

# 加速度限制 
gen.add("acc_linear", double_t, 0, "Linear Acc (m/s^2)", 1.0, 0.0, 20.0)
gen.add("acc_angular", double_t, 0, "Angular Acc (rad/s^2)", 1.0, 0.0, 20.0)

exit(gen.generate(PACKAGE, "sentry_chassis_controller", "ChassisOps"))


#/debug/lf_wheel/effort (左前)

#/debug/rf_wheel/effort (右前)

#/debug/lb_wheel/effort (左后)

#/debug/rb_wheel/effort (右后)